html {
    background-color: hwb(150 25% 30%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    text-align: left;
    hyphens: auto;
}

section {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 5px;
    border: black 3px solid;
    background-color: hwb(150 50% 30%);
}

h2 {
    margin: 20px;
    padding: 2px;
    border-right: black 1px solid;
}

div.e{
    margin: 10px;
    padding: 45px;
}

